# 1. Initialisation

In [1]:
#libraries
import pandas as pd
import re

In [2]:
#read data
pollen = pd.read_csv("pollen_data_2009_2011.csv")

# 2. Data Wrangling

In [3]:
# strip each column name
for each in pollen.columns:
    newCol = each.strip()
    pollen.rename(columns={each:newCol}, inplace=True)

In [4]:
#check type of "first_date_of_weak"
pollen["first_date_of_week"].astype

<bound method NDFrame.astype of 0      2009-08-31T00:00:00.000+0000
1      2009-09-07T00:00:00.000+0000
2      2009-09-14T00:00:00.000+0000
3      2009-09-21T00:00:00.000+0000
4      2009-09-28T00:00:00.000+0000
                   ...
119    2011-11-28T00:00:00.000+0000
120    2011-12-05T00:00:00.000+0000
121    2011-12-12T00:00:00.000+0000
122    2011-12-19T00:00:00.000+0000
123    2011-12-26T00:00:00.000+0000
Name: first_date_of_week, Length: 124, dtype: object>

In [5]:
# edit "first_date_of_week"
for i in range(len(pollen)):
    obj = pollen["first_date_of_week"].iloc[i]
    date = re.split("T", obj)[0]
    pollen["first_date_of_week"].iloc[i] = date

/Users/luxiaolu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [6]:
# add two new columns to pollen df
year = []
month = []

for i in range(len(pollen)):
    date = pollen["first_date_of_week"].iloc[i]
    y = re.split("-", date)[0]
    m = re.split("-", date)[1]
    year.append(y)
    month.append(m)
    
pollen["year"] = year
pollen["month"] = month

In [7]:
#change type of "first_date_of_week" column
pollen["first_date_of_week"] = pd.to_datetime(pollen["first_date_of_week"])

In [8]:
pollen.head()

,week_number,plantago_pollen_week_count_grains_metre_cubed,pinus_pollen_week_count_grains_metre_cubed,rumex_pollen_week_count_grains_metre_cubed,location,chenopodiaceae_pollen_week_count_grains_metre_cubed,first_date_of_week,urticaceae_pollen_week_count_grains_metre_cubed,north,oleaceae_pollen_week_count_grains_metre_cubed,...,alnus_pollen_week_count_grains_metre_cubed,asteraceae_pollen_week_count_grains_metre_cubed,casuarina_pollen_week_count_grains_metre_cubed,quercus_pollen_week_count_grains_metre_cubed,acacia_pollen_week_count_grains_metre_cubed,east,num_days_data_collected,ulmus_pollen_week_count_grains_metre_cubed,year,month
0,35,NaN,5.1,NaN,"The University of Melbourne campus, VIC Australia",NaN,2009-08-31,NaN,-37.797103,132.6,...,11.9,5.1,NaN,163.2,5.1,144.964841,6,8.5,2009,08
1,36,1.7,15.3,NaN,"The University of Melbourne campus, VIC Australia",NaN,2009-09-07,NaN,-37.797103,452.2,...,51.0,8.5,NaN,351.9,18.7,144.964841,7,11.9,2009,09
2,37,6.8,17.0,NaN,"The University of Melbourne campus, VIC Australia",NaN,2009-09-14,8.5,-37.797103,363.8,...,173.4,6.8,3.4,343.4,5.1,144.964841,7,10.2,2009,09
3,38,6.8,11.9,NaN,"The University of Melbourne campus, VIC Australia",NaN,2009-09-21,27.2,-37.797103,311.1,...,326.4,NaN,10.2,416.5,6.8,144.964841,7,17.0,2009,09
4,39,15.3,13.6,NaN,"The University of Melbourne campus, VIC Australia",NaN,2009-09-28,34.0,-37.797103,122.4,...,195.5,17.0,6.8,278.8,15.3,144.964841,7,6.8,2009,09

In [9]:
col = [col for col in pollen.columns if "grains_metre_cubed" in col]

In [10]:
col.append("week_number")

In [11]:
col.append("year")
col.append("month")

In [12]:
col

['plantago_pollen_week_count_grains_metre_cubed',
 'pinus_pollen_week_count_grains_metre_cubed',
 'rumex_pollen_week_count_grains_metre_cubed',
 'chenopodiaceae_pollen_week_count_grains_metre_cubed',
 'urticaceae_pollen_week_count_grains_metre_cubed',
 'oleaceae_pollen_week_count_grains_metre_cubed',
 'betula_pollen_week_count_grains_metre_cubed',
 'cupressaceae_pollen_week_count_grains_metre_cubed',
 'other_pollen_week_count_grains_metre_cubed',
 'poaceae_pollen_week_count_grains_metre_cubed',
 'total_pollen_week_count_grains_metre_cubed',
 'myrtaceae_pollen_week_count_grains_metre_cubed',
 'alnus_pollen_week_count_grains_metre_cubed',
 'asteraceae_pollen_week_count_grains_metre_cubed',
 'casuarina_pollen_week_count_grains_metre_cubed',
 'quercus_pollen_week_count_grains_metre_cubed',
 'acacia_pollen_week_count_grains_metre_cubed',
 'ulmus_pollen_week_count_grains_metre_cubed',
 'week_number',
 'year',
 'month']

In [13]:
pollen1 = pd.DataFrame(pollen, columns = col)

In [14]:
pollen1.head()

,plantago_pollen_week_count_grains_metre_cubed,pinus_pollen_week_count_grains_metre_cubed,rumex_pollen_week_count_grains_metre_cubed,chenopodiaceae_pollen_week_count_grains_metre_cubed,urticaceae_pollen_week_count_grains_metre_cubed,oleaceae_pollen_week_count_grains_metre_cubed,betula_pollen_week_count_grains_metre_cubed,cupressaceae_pollen_week_count_grains_metre_cubed,other_pollen_week_count_grains_metre_cubed,poaceae_pollen_week_count_grains_metre_cubed,...,myrtaceae_pollen_week_count_grains_metre_cubed,alnus_pollen_week_count_grains_metre_cubed,asteraceae_pollen_week_count_grains_metre_cubed,casuarina_pollen_week_count_grains_metre_cubed,quercus_pollen_week_count_grains_metre_cubed,acacia_pollen_week_count_grains_metre_cubed,ulmus_pollen_week_count_grains_metre_cubed,week_number,year,month
0,NaN,5.1,NaN,NaN,NaN,132.6,158.1,146.2,15.3,NaN,...,23.8,11.9,5.1,NaN,163.2,5.1,8.5,35,2009,08
1,1.7,15.3,NaN,NaN,NaN,452.2,341.7,387.6,37.4,NaN,...,166.6,51.0,8.5,NaN,351.9,18.7,11.9,36,2009,09
2,6.8,17.0,NaN,NaN,8.5,363.8,195.5,306.0,28.9,27.2,...,85.0,173.4,6.8,3.4,343.4,5.1,10.2,37,2009,09
3,6.8,11.9,NaN,NaN,27.2,311.1,265.2,317.9,49.3,17.0,...,130.9,326.4,NaN,10.2,416.5,6.8,17.0,38,2009,09
4,15.3,13.6,NaN,NaN,34.0,122.4,102.0,251.6,42.5,10.2,...,83.3,195.5,17.0,6.8,278.8,15.3,6.8,39,2009,09

In [15]:
for col in pollen1.columns:
    pollen1[col] = pollen1[col].fillna(0)

In [16]:
pollen1.head()

,plantago_pollen_week_count_grains_metre_cubed,pinus_pollen_week_count_grains_metre_cubed,rumex_pollen_week_count_grains_metre_cubed,chenopodiaceae_pollen_week_count_grains_metre_cubed,urticaceae_pollen_week_count_grains_metre_cubed,oleaceae_pollen_week_count_grains_metre_cubed,betula_pollen_week_count_grains_metre_cubed,cupressaceae_pollen_week_count_grains_metre_cubed,other_pollen_week_count_grains_metre_cubed,poaceae_pollen_week_count_grains_metre_cubed,...,myrtaceae_pollen_week_count_grains_metre_cubed,alnus_pollen_week_count_grains_metre_cubed,asteraceae_pollen_week_count_grains_metre_cubed,casuarina_pollen_week_count_grains_metre_cubed,quercus_pollen_week_count_grains_metre_cubed,acacia_pollen_week_count_grains_metre_cubed,ulmus_pollen_week_count_grains_metre_cubed,week_number,year,month
0,0.0,5.1,0.0,0.0,0.0,132.6,158.1,146.2,15.3,0.0,...,23.8,11.9,5.1,0.0,163.2,5.1,8.5,35,2009,08
1,1.7,15.3,0.0,0.0,0.0,452.2,341.7,387.6,37.4,0.0,...,166.6,51.0,8.5,0.0,351.9,18.7,11.9,36,2009,09
2,6.8,17.0,0.0,0.0,8.5,363.8,195.5,306.0,28.9,27.2,...,85.0,173.4,6.8,3.4,343.4,5.1,10.2,37,2009,09
3,6.8,11.9,0.0,0.0,27.2,311.1,265.2,317.9,49.3,17.0,...,130.9,326.4,0.0,10.2,416.5,6.8,17.0,38,2009,09
4,15.3,13.6,0.0,0.0,34.0,122.4,102.0,251.6,42.5,10.2,...,83.3,195.5,17.0,6.8,278.8,15.3,6.8,39,2009,09

In [17]:
pollen1['pollen_count'] = pollen1.iloc[:,0:17].sum(axis=1)

In [18]:
pollen1.head()

,plantago_pollen_week_count_grains_metre_cubed,pinus_pollen_week_count_grains_metre_cubed,rumex_pollen_week_count_grains_metre_cubed,chenopodiaceae_pollen_week_count_grains_metre_cubed,urticaceae_pollen_week_count_grains_metre_cubed,oleaceae_pollen_week_count_grains_metre_cubed,betula_pollen_week_count_grains_metre_cubed,cupressaceae_pollen_week_count_grains_metre_cubed,other_pollen_week_count_grains_metre_cubed,poaceae_pollen_week_count_grains_metre_cubed,...,alnus_pollen_week_count_grains_metre_cubed,asteraceae_pollen_week_count_grains_metre_cubed,casuarina_pollen_week_count_grains_metre_cubed,quercus_pollen_week_count_grains_metre_cubed,acacia_pollen_week_count_grains_metre_cubed,ulmus_pollen_week_count_grains_metre_cubed,week_number,year,month,pollen_count
0,0.0,5.1,0.0,0.0,0.0,132.6,158.1,146.2,15.3,0.0,...,11.9,5.1,0.0,163.2,5.1,8.5,35,2009,08,1341.3
1,1.7,15.3,0.0,0.0,0.0,452.2,341.7,387.6,37.4,0.0,...,51.0,8.5,0.0,351.9,18.7,11.9,36,2009,09,3677.1
2,6.8,17.0,0.0,0.0,8.5,363.8,195.5,306.0,28.9,27.2,...,173.4,6.8,3.4,343.4,5.1,10.2,37,2009,09,3151.8
3,6.8,11.9,0.0,0.0,27.2,311.1,265.2,317.9,49.3,17.0,...,326.4,0.0,10.2,416.5,6.8,17.0,38,2009,09,3811.4
4,15.3,13.6,0.0,0.0,34.0,122.4,102.0,251.6,42.5,10.2,...,195.5,17.0,6.8,278.8,15.3,6.8,39,2009,09,2383.4

In [19]:
pollen1['month'].unique()

array(['08', '09', '10', '11', '12', '01', '02', '03', '04', '05', '06',
       '07'], dtype=object)

In [20]:
pollen1 = pd.DataFrame(pollen1, columns = ['week_number', 'year', 'month', 'pollen_count'])

In [21]:
pollen1

     week_number  year month  pollen_count
0             35  2009    08        1341.3
1             36  2009    09        3677.1
2             37  2009    09        3151.8
3             38  2009    09        3811.4
4             39  2009    09        2383.4
..           ...   ...   ...           ...
119           48  2011    11        3668.6
120           49  2011    12        4097.0
121           50  2011    12        2482.0
122           51  2011    12        2920.6
123           52  2011    12        1434.8

[124 rows x 4 columns]

In [22]:
pollen1['year'].unique()

array(['2009', '2010', '2011'], dtype=object)

In [23]:
subset = pollen1.loc[pollen['year'] == '2011']

In [24]:
year2009 = [0] * 12
year2010 = [0] * 12
year2011 = [0] * 12


pollen1["month"] = pollen1["month"].astype(str).astype(int)


for y in pollen['year'].unique():
    count = 0
    subset = pollen1.loc[pollen1['year'] == y]
    for m in subset['month'].unique():
        count = subset.loc[subset['month'] == m, 'pollen_count'].sum()
        
        if y == '2009':
            year2009[m-1] = round(count,2)
        elif y == '2010':
            year2010[m-1] = round(count,2)
        elif y == '2011':
            year2011[m-1] = round(count,2)

In [25]:
year2010

[1448.4,
 693.6,
 221.0,
 122.4,
 51.0,
 81.6,
 81.6,
 10205.1,
 15606.0,
 18802.0,
 22944.9,
 10526.4]

In [26]:
year2009.insert(0, 'number')
year2010.insert(0, 'number')
year2011.insert(0, 'number')

In [27]:
month_list = ['string', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [28]:
output = pd.DataFrame({"Month": month_list, "2009":year2009, '2010':year2010, '2011':year2011})

In [29]:
output.to_csv("bymonth.csv", index = False)