# 1. Initialisation

In [1]:
import pandas as pd

# 2. Read data

In [3]:
df = pd.read_csv("dv296-schoollocations2020.csv", encoding = "cp1252")
# df = pd.read_csv("dv296-schoollocations2020.csv")

In [4]:
df.head(5)

,Education_Sector,Entity_Type,School_No,School_Name,School_Type,School_Status,Address_Line_1,Address_Line_2,Address_Town,Address_State,...,Postal_Address_Line_1,Postal_Address_Line_2,Postal_Town,Postal_State,Postal_Postcode,Full_Phone_No,LGA_ID,LGA_Name,X,Y
0,Government,1,1,Alberton Primary School,Primary,O,21 Thomson Street,NaN,Alberton,VIC,...,21 Thomson Street,NaN,ALBERTON,VIC,3971,03 5183 2412,681,Wellington (S),-38.61771,146.66660
1,Government,1,3,Allansford and District Primary School,Primary,O,Frank Street,NaN,Allansford,VIC,...,Frank Street,NaN,ALLANSFORD,VIC,3277,03 5565 1382,673,Warrnambool (C),-38.38628,142.59039
2,Government,1,4,Avoca Primary School,Primary,O,118 Barnett Street,NaN,Avoca,VIC,...,P O Box 12,NaN,AVOCA,VIC,3467,03 5465 3176,599,Pyrenees (S),-37.08450,143.47565
3,Government,1,8,Avenel Primary School,Primary,O,40 Anderson Street,NaN,Avenel,VIC,...,40 Anderson Street,NaN,AVENEL,VIC,3664,03 5796 2264,643,Strathbogie (S),-36.90137,145.23472
4,Government,1,12,Warrandyte Primary School,Primary,O,5-11 Forbes Street,NaN,Warrandyte,VIC,...,5-11 Forbes Street,NaN,WARRANDYTE,VIC,3113,03 9844 3537,421,Manningham (C),-37.74268,145.21398

In [5]:
df.columns

Index(['Education_Sector', 'Entity_Type', 'School_No', 'School_Name',
       'School_Type', 'School_Status', 'Address_Line_1', 'Address_Line_2',
       'Address_Town', 'Address_State', 'Address_Postcode',
       'Postal_Address_Line_1', 'Postal_Address_Line_2', 'Postal_Town',
       'Postal_State', 'Postal_Postcode', 'Full_Phone_No', 'LGA_ID',
       'LGA_Name', 'X', 'Y'],
      dtype='object')

# 3. Wrangling

In [6]:
address = []
for i in range(len(df)):
    st = df['Address_Line_1'].iloc[i].strip()
    sub = df['Address_Town'].iloc[i].strip()
    state = df['Address_State'].iloc[i].strip()
    pc = df['Address_Postcode'].iloc[i]
    add = st + " " + sub + " " + state + " " + str(pc)
    address.append(add)

In [7]:
df['Address'] = address

In [14]:
name = []
add = []
town = []
lga = []
X = []
Y = []

for i in range(len(df)):
    n = df['School_Name'].iloc[i]
    name.append(n)
    a = df['Address'].iloc[i]
    add.append(a)
    t = df['Address_Town'].iloc[i]
    town.append(t)
    l = df['LGA_Name'].iloc[i]
    lga.append(l)
    x = df['X'].iloc[i]
    X.append(x)
    y = df['Y'].iloc[i]
    Y.append(y)

In [15]:
schools = pd.DataFrame({'school_name':name, 'address':add, 'town':town, 'lga_name':lga, 'x':X, 'y':Y})

In [16]:
schools.to_csv("schools_jun_20.csv", index = False)

In [17]:
schools

,school_name,address,town,lga_name,x,y
0,Alberton Primary School,21 Thomson Street Alberton VIC 3971,Alberton,Wellington (S),-38.61771,146.66660
1,Allansford and District Primary School,Frank Street Allansford VIC 3277,Allansford,Warrnambool (C),-38.38628,142.59039
2,Avoca Primary School,118 Barnett Street Avoca VIC 3467,Avoca,Pyrenees (S),-37.08450,143.47565
3,Avenel Primary School,40 Anderson Street Avenel VIC 3664,Avenel,Strathbogie (S),-36.90137,145.23472
4,Warrandyte Primary School,5-11 Forbes Street Warrandyte VIC 3113,Warrandyte,Manningham (C),-37.74268,145.21398
...,...,...,...,...,...,...
2258,Fitra Community School,43-45 Westall Road CLAYTON SOUTH VIC 3169,CLAYTON SOUTH,Kingston (C),-37.94484,145.13932
2259,Clyde Grammar,3 New Holland Drive CRANBOURNE EAST VIC 3977,CRANBOURNE EAST,Casey (C),-38.11043,145.29304
2260,St Catherine of Siena Catholic Primary School,125 Warralily Boulevard ARMSTRONG CREEK VIC 3217,ARMSTRONG CREEK,Greater Geelong (C),-38.24009,144.36945
2261,Village High School,450 Dalyston-Glen Forbes Road RYANSTON VIC 3992,RYANSTON,Bass Coast (S),-38.52856,145.55883
2262,Iona College Geelong,242-280 Horseshoe Bend Road CHARLEMONT VIC 3217,CHARLEMONT,Greater Geelong (C),-38.21912,144.35671